html{
    font-size: 16px;
}
body{
    background-color: #ffffff;
}
/*顶部开始*/
header{
    height: 5.5rem;
    width: 100%;
    background-color: #5fc0cd;
    z-index: 1000;
    position: fixed;
    top: 0;
}
header p{
    font-size: 2.25rem;
    color: #ffffff;
    margin: 0 auto;
    line-height: 5.5rem;
    text-align: center;

}
header .back{
    position: absolute;
    left: 2.125rem;
    top: 1.625rem;
}
/*顶部结束*/

/*banner区域开始*/
.banner{
    width: 100%;
    height: 20.438rem;
    background: orange;
    position: absolute;
    top: 5.5rem;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../img/banner.png");
    background-size: cover;
}
.banner .bannerMessage{
    height: 10.625rem;
    width: auto;
    /*background: #fea500;*/
    position: relative;
    left: 1.875rem;
    top: 4.93rem;
}
.banner .bannerMessage .bannerMessagephoto{
    float: left;
}
.banner .bannerMessage .bannerMessagebase{
    position: relative;
    top: 2.625rem;
    left: 2.5rem;
}
.banner .bannerMessage .bannerMessagebase .nameYear{
    padding-bottom: 1.0rem;
}
.banner .bannerMessage .bannerMessagebase .nameYear span{
    padding-right: 1.5rem;
    font-size: 2.25rem;
    color: #ffffff;
}
.banner .bannerMessage .bannerMessagebase .sex{
    height: auto;
    /*background: rebeccapurple;*/
}
.banner .bannerMessage .bannerMessagebase .sex span{
    /*padding-right: 1.875rem;*/
    font-size: 1.5rem;
    color: #ffffff;
    padding-left: 1.0rem;
}
.banner .bannerMessage .bannerMessagebase .sex img{
    vertical-align:sub;
}
/*banner区域结束*/

/*内容区域开始*/
/*公共样式开始*/
.mainBox{
    height: auto;
    width:100% ;
    margin-top: 25.938rem;
    /*background: red;*/
    justify-content: center;
}
.mainBoxlist li{
    height: 6.25rem;
    width: 100%;
    background:#fff;
    display: flex;
    align-items: center;
    margin-left: 1.938rem;
    border-bottom: 1px solid #dde1e3;
}
.mainBox .mainBoxlist li p{
    font-size: 2rem;
    color: #333333;
}
.mainBox .mainBoxlist li .line04{
    padding: 0 1.625rem;
    color: #e1e5e7;
    font-weight: 100;
}
.mainBox .mainBoxlist li .optionTit{
    font-size: 2rem;
    line-height: 0.701rem;
    color: #999999;
    margin-left: 1.62rem;
}
/*公共样式结束*/

/*定制样式开始*/
.mainBox .mainBoxlist .tit{
    margin-left: 0;
}
.mainBox .mainBoxlist .tit p{
    white-space:nowrap;
    margin-left: 1.625rem;
}
.mainBox .mainBoxlist .tit .line03{
    width: 0.188rem;
    height: 1.625rem;
    background-color: #5fc0cd;
    border-radius: 0.094rem;
    margin-left: 1.875rem;
}

.mainBox .mainBoxlist .lab div{
    height: 23px;
    width: 24px;
    background-image: url("../img/star.png") ;
}
.mainBox .mainBoxlist .lab .home{
    margin-left: 1.62rem;
}
.mainBox .mainBoxlist .lab p{
    padding-left: 0.563rem;
}
.mainBox .mainBoxlist .lab .line04{
    padding: 0 1.063rem;
}

.mainBox .mainBoxlist .workPrice .money{
    color: #e26163;
    font-weight: bold;
}

.mainBox .mainBoxlist .introduce{
    min-height: 6.25rem;
    height: auto;
    border-bottom: none;
}
.mainBox .mainBoxlist .introduce .optionTit{
    white-space:nowrap;
}
.mainBox .mainBoxlist .introduce .brief{
    padding-right: 5.5rem;
    padding-top: 1.188rem;
    padding-bottom: 1.188rem;
}
/*定制样式结束*/
/*内容区域结束*/

/*底部区域开始*/
footer{
    height: 10.5rem;
    background-color: #FFFFFF;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 999;
}
footer .leavingMessage{
     background-color: #FFFFFF;
     border-radius: 0.625rem;
     border: solid 0.125rem #5fc0cd;
     position: absolute;
     bottom:2.5rem ;
     left: 5%;
     height: 52%;
     width: 43%;
     font-size: 2.125rem;
     color: #5fc0cd;
     margin: 0 auto;
     text-align: center;
 }
footer .phone{
    background-color: #5fc0cd;
    border-radius: 0.625rem;
    border: solid 0.125rem #5fc0cd;
    position: absolute;
    bottom:2.5rem ;
    right: 5%;
    height: 52%;
    width: 43%;
    font-size: 2.125rem;
    color: #FFFFFF;
    margin: 0 auto;
    text-align: center;
}
footer .line{
    height: 1px;
    width: 100%;
    background-color: #e1e5e7;
}
/*底部区域结束*/